<h1>Projects</h1>

<table>
<% @projects.each do |project| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt><%= project.user.email %></dt>
        <dt><%= project.title %></dt>
        <dd><%= truncate(strip_tags(project.description),
        length: 80) %></dd>
      </dl>
    </td>
    <td class="list_actions">
      <%= link_to 'Show', project %><br/>
      <% if project.user == current_user %>
        <%= link_to 'Edit', edit_project_path(project) %><br/>
        <%= link_to 'Destroy', project, method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br/>
<%= link_to 'New project', new_project_path %>
